.game{
    margin: auto;
    width:60%;
    border: 3px solid gray;
}

.game_image img{
    float: left;
    max-width: 275px;
    max-height: 275px;
}

.more_display{
    overflow: hidden;
}

.r_o{
    float: left;
    border: 3px solid cyan;
    padding-left: 100px;
}

.game_add{
    float: right;
    border: 3px solid violet;
    padding-right: 100px;
}

.game_add a{
    float: right;
}