.game_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.flex-img-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.game_details img{
    padding: 10px;
    width:300px;
    height:300px;
    justify-content: center;
}

.game_add{
    padding: 20px;
}

.game_add button{
    background-color: lightgreen;
    text-decoration-color: black;
}

textarea {
    min-height: 100px;
    margin-bottom: 10px;
    width: 50%;
    height: 150%;
}

.space{
    padding:100px;
}

.space_button{
    padding: 10px;
}

.add_review form{
    padding: 15px;
}


.add_review button{
    background-color: lightgreen;
    text-decoration-color: black;
}

