table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
}

td{
    border: 10px solid yellow;
    padding: 8px;
    text-align: center;
}

tr{
    border: 10px solid green;
}

.space_up{
    padding: 20px;
}

.space_down{
    padding: 20px;
}
