.products{
    display: flex;
    flex-direction: column;
}

.banner{
    overflow:visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.categories{
    float: left;
    padding: 10px;
    background-color: chocolate;
}

.product_row1{
    display: flex;
    flex-direction: row;
    background-color: aqua;
}

.product_row2{
    display: flex;
    flex-direction: row;
    background-color: pink;
    border: 3px solid violet;
    justify-content: center;
}

.prod6{
    background-color: aqua;
}

.prod6_img img{
    max-width: 100px;
}

.prod3_img img{
    max-width: 100px;
}