.nav_bar{
    background: linear-gradient(to bottom,#04630f 0%, #08bd1d 100%);
    overflow: hidden;
}

.nav_bar a{
    float: left;
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

.login{
    border: 1px solid gray;
    float:right;
    padding:10px;
    background: black;
}

.signup{
    border: 1px solid gray;
    float:right;
    padding:10px;
    background-color: black;
}

.search{
    float: right;
    padding: 10px;
}

.browse{
    border: 1px solid gray;
    float:left;
    background-color: black;
    padding:10px;
}

.home{
    border: 1px solid gray;
    float:left;
    background-color: black;
    padding:10px;
}

footer{
    background: linear-gradient(to bottom,#04630f 0%, #08bd1d 100%);
    overflow: hidden;
    float:none;
}

.socials{
    color:#000000;
    float:left;
    text-align: center;
    padding-top:25px;
    padding-left: 100px;
}

.slinks_left{
    color: #000000;
    float: right;
    display: flex;
    flex-direction: column;
    padding:10px;
    padding-right:50px;
    text-align: center;
}

.slinks_right{
    color:#000000;
    float: right;
    display: flex;
    flex-direction: column;
    padding:10px;
    padding-right:50px;
    text-align:center;
}