.text_banner{
    text-align: center;
}

.carousel{
    max-width: 200px;
    max-height: 200px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text_group{
    text-align: center;
}

.carousel-item img{
    max-width: 200px;
    max-height: 200px;
}

.carousel-item active img{
    max-width: 300px;
}