.text_banner{
    text-align: center;
}

.carousel{
    max-width: 500px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text_group{
    text-align: center;
}