/* Home Page */
.home_page{
position: relative;
width: 1440px;
height: 1201px;

background: #FFFFFF;
}

a:hover, a:visited, a:link, a:active
{
    color:#FFFFFF;
    text-decoration: none;
}

/* Footer */
footer{
position: absolute;
width: 1920px;
height: 196px;
left: 0px;
top: 1005px;
background: #6360FF;
}


/* Background */
.background{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;


}

/* Privacy */
.privacy{
position: absolute;
left: 86.46%;
right: 8.68%;
top: 42.35%;
bottom: 45.41%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}


/* Support the project */
.support_project{
position: absolute;
left: 69.51%;
right: 17.64%;
top: 59.69%;
bottom: 28.06%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}


/* Social Media Links */
.social_links{
position: absolute;
left: 6.25%;
right: 89.72%;
top: 18.88%;
bottom: 31.63%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}


/* Copyright */
.copyright{
position: absolute;
left: 85.62%;
right: 7.92%;
top: 59.69%;
bottom: 28.06%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}


/* Help */
.help{
position: absolute;
left: 87.36%;
right: 9.58%;
top: 25%;
bottom: 62.76%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}


/* About */
.about{
position: absolute;
left: 73.96%;
right: 22.08%;
top: 25%;
bottom: 62.76%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}


/* Contact */
.contact{
position: absolute;
left: 73.33%;
right: 21.39%;
top: 42.35%;
bottom: 45.41%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}


/* Main Body */
.main_body{
position: absolute;
width: 1920px;
height: 946px;
left: 0px;
top: 59px;
}


/* Background */
.body_background{
position: absolute;
width: 1920px;
height: 946px;
left: 0px;
top: 59px;

background: #FFFFFF;
}

/* Text Group */
.text_group{
position: absolute;
width: 1036px;
height: 351px;
left: 430px;
top: 570px;
}


/* We are hosting the biggest board game database! */
.text_banner{ 

    position: absolute;
    width: 475.37px;
    height: 23px;
    left: 782px;
    top: 450px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
} 

/* Carousel */
.carousel{
box-sizing: border-box;

position: absolute;
width: 1200px;
height: 328px;
left: 290px;
top: 84px;

border: 1px solid #000000;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Nav Bar */
.nav_bar{
position: absolute;
width: 1920px;
height: 59px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #1815B7 0%, #B2B0F9 100%);
}

/* Background */
.nav_background{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(180deg, #1815B7 0%, #B2B0F9 100%);
}

/* Logo */
.logo{
position: absolute;
left: 1.25%;
right: 93.12%;
top: 11.86%;
bottom: 11.86%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #FFFFFF;
}


/* Log In */
.login{
position: absolute;
left: 88.89%;
right: 7.08%;
top: 28.81%;
bottom: 30.51%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}

.login a{
    text-decoration: none;
}


/* Sign Up */
.signup{
position: absolute;
left: 93.82%;
right: 0.97%;
top: 28.81%;
bottom: 30.51%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}


/* Shop */
.browse{
position: absolute;
left: 14.58%;
right: 81.81%;
top: 28.81%;
bottom: 30.51%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}


/* Browse */
.home{
position: absolute;
left: 8.26%;
right: 86.81%;
top: 28.81%;
bottom: 30.51%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}


/* Search */
.search{
position: absolute;
left: 78.46%;
right: 12.43%;
top: 32.03%;
bottom: 22.03%;
}

/* Search Box */
.search_bar{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D9D9D9;
}
