.main_body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}

.btn-custom {
    border: 3px solid #73AD21;
    padding: 10px;
    background: #73AD21;
    text-decoration:    none;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none;
}