.profile_pic{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.profile_pic img{
    max-width: 400px;
    max-height: 400px;
}

.profile_features{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: auto;
    width:60%;
    text-align: center;
}

.profile_features a{
    border: 3px solid;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.user_details{
    float: left;
    display:flex;
    flex-direction: column;
    background-color:  #898a86;
    border: 3px solid #686964;
    
}
.details_expand{
    overflow: hidden;
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.profile-container .about-section,
.profile-container .details-section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.btn-custom {
    border: 3px solid #73AD21;
    padding: 10px;
    background: #73AD21;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px; /* Add curved corners */
}