.profile_pic{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.profile_pic img{
    max-width: 400px;
    max-height: 400px;
}

.profile_features{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: gainsboro;
    align-content: center;
    margin: auto;
    width:60%;
    border: 3px solid #73AD21;
    padding:10px;
    text-align: center;
}

.profile_features a{
    border: 3px solid #73AD21;
    padding: 10px;
    color: black;
    background:#73AD21;
    text-decoration: none;
    text-align: center;
}

.user_details{
    float: left;
    display:flex;
    flex-direction: column;
    background-color:  #898a86;
    border: 3px solid #686964;
    
}


.details_expand{
    overflow: hidden;
}