<!DOCTYPE html>
<html>
    <head>
        <title>Gamefinders</title>
        <link rel="stylesheet" href="css/general_design.css">
        <link rel="stylesheet" href="css/boardgames.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="nav_bar">
            <div class="logo">
                <a>Logo</a>
            </div>

            <div class="signup">
                <a href="signup.html">Sign Up</a>
            </div>

            <div class="login">
                <a href="profile.html">Login</a>
            </div>

            <div class="home">
                <a href="home.html">Home</a>
            </div>

            <div class="browse">
                <a href="boardgames.html">Browse</a>
            </div>

            <div class="search">
                <input type="text" placeholder="Search.." name="search">
            </div>
        </div>
        <div class="main_body">
            
        

            <div class="categories">
                <h2>Categories</h2>
                <div class="categories_content">
                    <ol>
                        <li>Strategy</li>
                        <li>Area Control</li>
                        <li>Deck-building</li>
                        <li>Workker Placement</li>
                        <li>Area Majority</li>
                    </ol>
                </div>
            </div>

            <div class="products">
                <div class="product_row1">

                    <div class="prod6">
                        <div class="prod6_img">
                            <a href="boardgame_template.html">
                                <img src="images/Carousel1.png">
                            </a>
                        </div>

                        <div class="prod6_name">
                            <p><b>Root</b></p>
                        </div>

                        <div class="prod6_price">
                            <p>50.95$</p>
                        </div>

                        
                    </div>

                    <div class="prod5">
                        <div class="prod5_img">
                            <a href="boardgame_template.html">
                                <img src="images/Carousel3.png">
                            </a>
                        </div>

                        <div class="prod5_name">
                            <p><b>7 Wonders</b></p>
                        </div>

                        <div class="prod5_price">
                            <p>59.99$</p>
                        </div>
                    </div>

                    <div class="prod4">
                        <div class="prod4_img">
                            <a href="boardgame_template.html">
                                <img src="images/Calico.png">
                            </a>
                        </div>

                        <div class="prod4_name">
                            <p><b>Calico</b></p>
                        </div>

                        <div class="prod4_price">
                            <p>31.00$</p>
                        </div>                    
                    </div>
                </div>

                <div class="product_row2">
                    <div class="prod3">
                        <div class="prod3_img">
                            <a href="boardgame_template.html">
                                <img src="images/Crew.png">
                            </a>
                        </div>

                        <div class="prod3_name">
                            <p><b>The Crew</b></p>
                        </div>

                        <div class="prod3_price">
                            <p>10.59$</p>
                        </div>
                    </div>

                    <div class="prod2">
                        <div class="prod2_img">
                            <a href="boardgame_template.html">
                                <img src="images/Catan.png">
                            </a>
                        </div>

                        <div class="prod2_name">
                            <p><b>Catan<b></b></p>
                        </div>

                        <div class="prod2_price">
                            <p>43.99$</p>
                        </div>                  
                    </div>

                    <div class="prod1">
                        <div class="prod1_img">
                            <a href="boardgame_template.html">
                                <img src="images/Arnak.png">
                            </a>
                        </div>

                        <div class="prod1_name">
                            <p><b>Lost Ruins of Arnak</b></p>
                        </div>

                        <div class="prod1_price">
                            <p>59.95$</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="socials">
                <p>Social</p>
                <p>Media</p>
                <p>Links</p>
            </div>

            <div clas="social_links">
                
                <div class="slinks_left">
                    <p>About</p>
                    <p>Contact</p>
                    <p>Support the project</p>
                </div>

                <div class="slinks_right">
                    <p>Help</p>
                    <p>Privacy</p>
                    <p>Copyright</p>
                </div>
            </div>
        </footer>
    </body>
</html>