<!DOCTYPE html>
<html>
    <head>
        <title>Boardgame Repository</title>
        <link rel="stylesheet" href="/src/main/resources/static/css/general_design.css">
        <link rel="stylesheet" href="/src/main/resources/static/css/boardgames.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="nav_bar">
            <div class="logo">
                <a>Logo</a>
            </div>

            <div class="login">
                <a href="profile.html">Login</a>
            </div>

            <div class="signup">
                <a href="signup.html">Sign Up</a>
            </div>

            <div class="home">
                <a href="index.html">Home</a>
            </div>

            <div class="browse">
                <a href="boardgames.html">Browse</a>
            </div>

            <div class="search">
                <input type="text" placeholder="Search.." name="search">
            </div>
        </div>

        <div class="products">
            <div clas="product_row1">
                <div class="prod6">
                    <div class="prod6_img">
                        <a href="games/scythe.html">
                            <img src="/src/main/resources/static/images/scythe.png">
                        </a>
                    </div>

                    <div class="prod6_price">
                        <p>Price</p>
                    </div>

                    <div class="prod6_name">
                        <p>Name</p>
                    </div>
                </div>

                <div class="prod5">
                    <div class="prod5_img">
                        <a href="games/scythe.html">
                            <img src="/src/main/resources/static/images/scythe.png">
                        </a>
                    </div>

                    <div class="prod5_price">
                        <p>Price</p>
                    </div>

                    <div class="prod5_name">
                        <p>Name</p>
                    </div>
                
                </div>

                <div class="prod4">
                    <div class="prod4_img">
                        <a href="games/scythe.html">
                            <img src="/src/main/resources/static/images/.png">
                        </a>
                    </div>

                    <div class="prod4_price">
                        <p>Price</p>
                    </div>

                    <div class="prod4_name">
                        <p>Name</p>
                    </div>
                
                </div>
            </div>

            <div class="product_row2">
                <div class="prod3">
                    <div class="prod3_img">
                        <a href="games/scythe.html">
                            <img src="/src/main/resources/static/images/scythe.png">
                        </a>
                    </div>

                    <div class="prod3_price">
                        <p>Price</p>
                    </div>

                    <div class="prod3_name">
                        <p>Name</p>
                    </div>
                
                </div>

                <div class="prod2">
                    <div class="prod2_img">
                        <a href="games/scythe.html">
                            <img src="/src/main/resources/static/images/scythe.png">
                        </a>
                    </div>

                    <div class="prod2_price">
                        <p>Price</p>
                    </div>

                    <div class="prod2_name">
                        <p>Name</p>
                    </div>
                
                </div>

                <div class="prod1">
                    <div class="prod1_img">
                        <a href="games/scythe.html">
                            <img src="/src/main/resources/static/images/scythe.png">
                        </a>
                    </div>

                    <div class="prod1_price">
                        <p>Price</p>
                    </div>

                    <div class="prod1_name">
                        <p>Name</p>
                    </div>
                
                </div>
            </div>
        </div>

        <footer>
            <div class="socials">
                <p>Social</p>
                <p>Media</p>
                <p>Links</p>
            </div>

            <div clas="social_links">
                
                <div class="slinks_left">
                    <p>About</p>
                    <p>Contact</p>
                    <p>Support the project</p>
                </div>

                <div class="slinks_right">
                    <p>Help</p>
                    <p>Privacy</p>
                    <p>Copyright</p>
                </div>
            </div>
        </footer>
    </body>
</html>