<!DOCTYPE html>
<html>
    <head>
        <title>Boardgame Repository</title>
        <link rel="stylesheet" href="css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Boardgame Repository</h1>
        </header>
        <nav>
            <a href="index.html">Home</a>
            <a href="boardgames.html">Boardgames</a>
            <a href="">Marketplace</a>
        </nav>
        <h1>A lift of all boardgames</h1>
        <p>Root</p><br>
        <p>Catan</p><br>
        <p>Scythe</p><br>
    </body>
</html>