<!DOCTYPE html>
<html>
    <head>
        <title>Boardgame Repository</title>
        <link rel="stylesheet" href="css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="nav_bar">
            <div class="logo">
                <a>Logo</a>
            </div>

            <div class="login">
                <a href="login.html">Login</a>
            </div>

            <div class="signup">
                <a href="signup.html">Sign Up</a>
            </div>

            <div class="home">
                <a href="index.html">Home</a>
            </div>

            <div class="browse">
                <a href="boardgames.html">Browse</a>
            </div>

            <div class="search">
                <input type="text" placeholder="Search.." name="search">
            </div>
        </div>

        <div class="main_body">
            
            <div class="text_banner">
                <h1>Boardgame Repository</h1>
                <p>We are hosting the biggest board game database!</p>
            </div>

            <div class="carousel">
                <img src="images/image_carousel.png">
            </div>

            <div class="text_group">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue est ac placerat pretium. Suspendisse elementum, risus faucibus pharetra varius, massa velit imperdiet nibh, non consectetur elit purus scelerisque urna. Nullam placerat consequat ligula nec laoreet. Vivamus tristique molestie consectetur. Praesent tincidunt molestie dolor ut facilisis. Nunc maximus purus vel ornare convallis. Aliquam et dui ultrices, varius arcu in, faucibus ex. Donec eu enim neque. Vivamus nec tellus vel ipsum sodales vehicula. Curabitur ut arcu dolor. Vivamus dapibus turpis ac fermentum dictum. Sed vestibulum accumsan elit, euismod ultricies risus efficitur vel. Mauris vel congue tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue est ac placerat pretium. Suspendisse elementum, risus faucibus pharetra varius, massa velit imperdiet nibh, non consectetur elit purus scelerisque urna. Nullam placerat consequat ligula nec laoreet. Vivamus tristique molestie consectetur. Praesent tincidunt molestie dolor ut facilisis. Nunc maximus purus vel ornare convallis. Aliquam et dui ultrices, varius arcu in, faucibus ex. Donec eu enim neque. Vivamus nec tellus vel ipsum sodales vehicula. Curabitur ut arcu dolor. Vivamus dapibus turpis ac fermentum dictum. Sed vestibulum accumsan elit, euismod ultricies risus efficitur vel. Mauris vel congue tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
            </div>
        </div>

        <footer>
            <div class="social_links">
                <p>Social</p>
                <p>Media</p>
                <p>Links</p>
            </div>

            <div class ="about">
                <p>About</p>
            </div>

            <div class="contact">
                <p>Contact</p>
            </div>

            <div class="support_project">
                <p>Support the project</p>
            </div>
            
            <div class="help">
                <p>Help</p>
            </div>
            
            <div class="privacy">
                <p>Privacy</p>
            </div>

            <div class="copyright">
                <p>Copyright</p>
            </div>
        </footer>
    </body>
</html>