<!DOCTYPE html>
<html>
    <head>
        <title>Boardgame Repository</title>
        <link rel="stylesheet" href="/src/main/resources/static/css/general_design.css">
        <link rel="stylesheet" href="/src/main/resources/static/css/profile.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="nav_bar">
            <div class="logo">
                <a>Logo</a>
            </div>
        
            <div class="login">
                <a href="profile.html">Login</a>
            </div>
        
            <div class="signup">
                <a href="signup.html">Sign Up</a>
            </div>
        
            <div class="home">
                <a href="index.html">Home</a>
            </div>
        
            <div class="browse">
                <a href="boardgames.html">Browse</a>
            </div>
        
            <div class="search">
                <input type="text" placeholder="Search.." name="search">
            </div>
        </div>

        <div class="main_body">
            <div class="profile">
                <img src="/src/main/resources/static/images/pf_background.png">
            </div>

            <div class="profile_features">
                <a href="guides">{user}'s Guides</a>
                <a href="reviews">{user}'s Reviews</a>
                <a href="friends">{user}'s Friends</a>
                <a href="collection">{user}'s Collection</a>
                <a href="Wishlist">{user}'s Wishlist</a>
            </div>
        </div>
        

        <footer>
            <div class="socials">
                <p>Social</p>
                <p>Media</p>
                <p>Links</p>
            </div>

            <div clas="social_links">
                
                <div class="slinks_left">
                    <p>About</p>
                    <p>Contact</p>
                    <p>Support the project</p>
                </div>

                <div class="slinks_right">
                    <p>Help</p>
                    <p>Privacy</p>
                    <p>Copyright</p>
                </div>

            </div>
        </footer>
    </body>

</html>